extends ../layout

block content
  h1 #{title}: #{bookInstance._id}

  p #[strong Title:] 
    a(href=bookInstance.book.url) #{bookInstance.book.title}
  p #[strong Imprint:] #{bookInstance.imprint}

  p #[strong Status:] 
    if bookInstance.status=='Available'
      span.text-success #{bookInstance.status}
    else if bookInstance.status=='Maintenance'
      span.text-danger #{bookInstance.status}
    else
      span.text-warning #{bookInstance.status}

  if bookInstance.status!='Available'
    p #[strong Due Back:] #{bookInstance.dueBackDisplay}

  hr
  p
    span(style='margin-left:20px;margin-right:20px;')
      a(href=bookInstance.url+'/update') Update
    span(style='margin-left:20px;margin-right:20px;')
      a(href=bookInstance.url+'/delete') Delete
  hr